@keyframes turn-left-page {
    0%{
        transform: rotate3d(0,1,0,90deg);
        opacity: 0;
    }
    0.1%{
        transform: rotate3d(0,1,0,90deg);
        opacity: 1;
    }
    100% {
        transform: rotate3d(0,1,0,0deg);
        opacity: 1;
    }
}

@keyframes turn-right-page {
    0% {
        transform: rotate3d(0,1,0,0deg);
        opacity: 1;
    }
    99.9% {
        transform: rotate3d(0,1,0, -90deg);
        opacity: 1;
    }
    100% {
        transform: rotate3d(0,1,0, -90deg);
        opacity: 0;
    }
}

.body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #010a01;
}

.stuck-grid {
  block-size: 100dvh;
  perspective: 100dvw;
  transform-style: preserve-3d;

  display: grid;
  grid: 100dvh / repeat(2, 50dvw);
  gap: 0;
  place-items: center stretch;

  position: sticky;
  top: 0;

  overflow: clip;
  
  > div {
    border: 2px solid rgb(254 52 126);
    border-radius: 7px;
    background-color: #010a01;
    padding: 1em;
    height: 95dvh;
    width: 50dvw;
    color: #bc13fe;
  }
  
  > .grid-item {
    transform-style: preserve-3d;
    width: 50dvw;

    font-size: 5vmin;
    font-weight: lighter;

    text-wrap: pretty;
    /*text-align: justify;
    text-justify: inter-word;*/

    @supports (animation-timeline: scroll()) {
      @media (prefers-reduced-motion: no-preference) {
        animation: turn-left-page linear both;
        animation-timeline: scroll(root block);
        will-change: transform opacity;
      }
    }

    &.left {
      grid-area: 1/1/1/1;
      transform-origin: right center; 
      @supports (animation-timeline: scroll()) {
        @media (prefers-reduced-motion: no-preference) {
          animation: turn-left-page linear both;
          animation-timeline: scroll(root block);
          will-change: transform opacity;
        }
      }
    }

    
    &.right {
      grid-area: 1/2/1/2;
      transform-origin: left center;
      @supports (animation-timeline: scroll()) {
        @media (prefers-reduced-motion: no-preference) {
          animation: turn-right-page linear both;
          animation-timeline: scroll(root block);
          will-change: transform opacity;
        }
      }
    }
      &:nth-of-type(1)  { animation-range: 0% 25%; z-index: 10; }
      &:nth-of-type(2)  { animation-range: 26% 50%; z-index: 0; }
      &:nth-of-type(3)  { animation-range: 51% 75%; z-index: 0; }
      &:nth-of-type(4)  { animation-range: 76% 100%; z-index: 10; }
    
    @supports (animation-timeline: scroll()) {
    }
  }
}





@layer support {
  * {
    box-sizing: border-box;
    margin: 0;
  }

  html {
    block-size: 100%;
    color-scheme: dark light;
  }

  body {
    min-block-size: 400vh;
    font-family: system-ui, sans-serif;
  }
}
